body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
}

.container {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border: solid black 2px;
    box-shadow: inset 0px 0px 10px 20px;
    border-radius: 15px;
}

.container {
    content: "";
    border-radius: 20px;
    box-shadow: -3px -3px 3px 0px black,
     0px 0px 5px 8px rgb(78, 9, 9),
     0px 0px 0px 10px black;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    width: 200px;
    border-radius: 7%;
    border: black solid;
    background-color: rgb(84, 46, 46);
}

.center_box_container {
    width: 800px;
    height: 450px;
    background-color: rgb(249, 214, 168); 
    border-radius: 3%;
    border: black solid;
    box-shadow: inset 0px 0px 60px 25px rgb(88, 61, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.center-box {
    width: 710px;
    height: 400px;
    border-radius: 10%;
    margin: 60px;
    background-color:rgb(170, 179, 189); 
    box-shadow: 0px 0px 1px 10px black, 
        inset 0px 0px 100px 30px slategray,
        inset -30px -15px 30px 10px rgb(81, 78, 78),
        inset 30px 15px 20px 10px whitesmoke,
        10px 10px 5px 1px rgb(66, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.bottom-box {
    width: 800px;
    height: 250px;
    border: black, solid, 1px;
    border-radius: 7%;
    background-color: #a0522d; 

}

.knob-surround {
    position: relative;
    background-color: rgb(213, 172, 117);
    box-shadow: inset 0px 0px 0px 3px #4a240d,
        6px 3px 4px 0px rgb(79, 7, 7);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid .25rem darken(black, 100%);
    margin: 4rem auto; 
}

.knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(0deg);
    z-index: 10;
}

.knob:before {
    content: "";
    position: absolute;
    bottom: 0.4em;
    left: 1.5em;
    width: 10%;
    height: 30%;
    background-color: black;
    border-radius: 0;
    box-shadow: 0 0 .4rem 0 darken(black, 10%);
    transform: translate(-10px, 0px) rotate(45deg);
}

#preview_display {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 500px;
    background-color: black;
    border: 5px wheat solid;
    box-shadow: inset 10px 5px 10px 1px black, 
    inset 0px 0px 100px 30px slategray;
    border-radius: 15px;
}

.box__dragndrop {
    display: none;
}

.has-advanced-upload .box__dragndrop {
    display: inline;
}

.is-dragover {
    background-color: grey;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box.is-success .box__success {
    display: block;
}

.box.is-error .box__error {
    display: block;
}



/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
}

.container {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    width: 200px;
    background-color: rgb(84, 46, 46);
}

.center-box {
    width: 800px;
    height: 450px;
    background-color: #d2b48c; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-box {
    width: 800px;
    height: 250px;
    background-color: #a0522d; 
}

.knob-surround {
    position: relative;
    background-color: grey;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid .25rem darken(black, 100%);
    margin: 4rem auto; 
}

.knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(0deg);
    z-index: 10;
}

.knob:before {
    content: "";
    position: absolute;
    bottom: 0.4em;
    left: 1.5em;
    width: 10%;
    height: 30%;
    background-color: black;
    border-radius: 0;
    box-shadow: 0 0 .4rem 0 darken(black, 10%);
    transform: translate(-10px, -0px) rotate(45deg);
}

#preview_display {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 500px;
    background-color: black;
    border-radius: 15px;
}

.box__dragndrop {
    display: none;
}

.has-advanced-upload .box__dragndrop {
    display: inline;
}

.is-dragover {
    background-color: grey;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}
*/


/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
}

.container {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    width: 200px;
    background-color: rgb(84, 46, 46);
}

.center-box {
    width: 800px;
    height: 450px;
    background-color: #d2b48c; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-box {
    width: 800px;
    height: 250px;
    background-color: #a0522d; 
}

.knob-surround {
    position: relative;
    background-color: grey;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid .25rem darken(black, 100%);
    margin: 4rem auto; 
}

.knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(0deg);
    z-index: 10;
}

.knob:before {
    content: "";
    position: absolute;
    bottom: 0.4em;
    left: 1.5em;
    width: 10%;
    height: 30%;
    background-color: black;
    border-radius: 0;
    box-shadow: 0 0 .4rem 0 darken(black, 10%);
    transform: translate(-10px, -0px) rotate(45deg);
}

#preview_display {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    width: 500px;
    background-color: black;
    border-radius: 15px;
}

.box__dragndrop {
    display: none;
}

.has-advanced-upload .box__dragndrop {
    display: inline;
}

.is-dragover {
    background-color: grey;
}




