* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MioFont';
    src: url('Assets/Photograph Signature.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
    overflow-x: auto;
}

.container {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border: solid black 2px;
    box-shadow: inset 0px 0px 10px 20px;
    border-radius: 15px;
    min-width: 1200px;
}

.container {
    content: "";
    border-radius: 20px;
    box-shadow: -3px -3px 3px 0px black,
        0px 0px 5px 8px rgb(78, 9, 9),
        0px 0px 0px 10px black;
}


.row {
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
}


.column {
    width: 200px;  /* Larghezza fissa per le colonne laterali */
    height: 695px;  /* Altezza completa della container */
    background-color: rgb(54, 34, 34); /* Colore di sfondo per le colonne */
    border-radius: 8%;
    border: black solid 2px;
}

#column_left {
    box-shadow: inset 6px 0px 3px 0px black,
        inset -10px 0px 20px 0px rgb(59, 36, 36),
        inset 20px 0px 40px 0px rgb(36, 14, 14);
}

#column_right {
    box-shadow: inset -6px 0px 5px 0px black,
        inset 10px 0px 20px 0px rgb(59, 36, 36),
        inset -20px 0px 40px 0px rgb(36, 14, 14);
}


.pad {
    background-color: rgb(177, 136, 82);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    width: 45px;
    height: 45px;
    color: #2b2929;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -1px 3px 0px rgb(67, 38, 8),
        inset 0px 0px 0.5px 2.5px rgb(223, 180, 111),
        4px 2px 7px 0px black;
    user-select: none; 
}

.active {
    box-shadow: inset 3px 1.5px 3px 1px black;
    transform: translateY(2px);
}

/* Sposta il testo di 1px verso il basso quando attivo */
.active span {
    position: relative;
    left: 1px; /* Sposta il testo di 1px verso il basso */
    top: 1px;
}


/* Resto del CSS */
#padPanel {
    position: relative;
    top: 445px;
}

.padRow {
    position: relative;
    width: 200px;
    max-width: 160px;
    left: 20px;
    top: 20px;
    margin-top: 20px;
}

#padManual {
    width: 160px;
    border-radius: 15%;
}

#pad8 {
    width: 20px;
    height: 20px;
}

/* Contenitore centrale */
.center-column {
    flex-grow: 1; /* La colonna centrale si espande per riempire lo spazio disponibile */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.center_box_container {
    width: 800px;
    height: 450px;
    background-color: rgb(249, 214, 168); 
    border-radius: 3%;
    border: black solid;
    box-shadow: inset 0px 0px 60px 25px rgb(88, 61, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.center-box {
    width: 710px;
    height: 400px;
    border-radius: 10%;
    margin: 60px;
    background-color:rgb(170, 179, 189); 
    box-shadow: 0px 0px 1px 10px black, 
        inset 0px 0px 100px 30px slategray,
        inset -30px -15px 30px 10px rgb(81, 78, 78),
        inset 30px 15px 20px 10px whitesmoke,
        10px 10px 5px 1px rgb(66, 19, 19);
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    position: relative;
    overflow: hidden; 
}

.center-box video {
    max-width: 140%;
    max-height: 150%;
    border-radius: 10%; /* Arrotonda gli angoli del video */
    object-fit: cover;
}

.video-overlay {
    position: absolute; /* Posizione assoluta per sovrapporsi al video */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sfondo scuro con trasparenza */
    border-radius: 10%; /* Arrotonda gli angoli come il video */
    box-shadow: 0 0 20px rgba(251, 251, 251, 0.7); /* Ombra per effetto 3D */
    backdrop-filter: blur(100px); /* Sfocatura di sfondo per un effetto 3D */
    display: flex; /* Permette di centrare eventuali contenuti all'interno */
    justify-content: center; /* Centra contenuti orizzontalmente */
    align-items: center; /* Centra contenuti verticalmente */
    pointer-events: none; /* Permette di cliccare attraverso l'overlay */
}

.custom-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.bottom-box {
    width: 800px;
    height: 240px;
    border: black, solid, 1px;
    border-radius: 7%;
    background-color: #a0522d; 
    box-shadow: inset 0px 0px 1000px 10px #4b1f0b;

}

.button-row, .lamp-row {
    position: relative;
    left: 225px;
    bottom: 70px;
    width: 500px; /* Make sure the rows span the full width */
    margin: 10px 0;
    max-width: 350px;
}
.button, .lamp {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  
}

.button {
    background-color: #711028;
    color: #fff;
    transition: background-color 0.1s ease;
    box-shadow: inset -2px -1px 2px 0px rgba(65, 6, 6, 0.875),
        inset 2px 1px 2px 0px rgb(148, 69, 69),
        2px 1px 3px #000000;;
    cursor: pointer;
}

.midiToggle {
    position: relative;
    width: 13px;
    height: 13px;
    left: 250px;
    top: 475px;
    border-radius: 50%;
    background-color: #3b0909; 
    text-shadow: 0.3px 0.5px 1px black;
    border: 1px #250000 solid;
    transition: background-color 0.0s ease;
    box-shadow: inset -2px -1px 3px 1px rgb(32, 1, 1),
        inset 2px 1px 2px 1px rgb(136, 94, 94),
        2px 1px 2px #000000;
}

.midiToggle.on {
    background-color: #ff0000; /* Red color for "on" state */
    box-shadow: inset -1.5px -0.75px 3px 0.5px rgb(53, 2, 2),
        inset 2px 1px 2px 1px rgb(214, 144, 144),
        0px 0px 20px 5px #ff0000,
        0px 0px 100px 5px #ffdcdc;
    object-fit: cover !important ;

}

.lamp {
    background-color: #3b0909; 
    font-size: 11px;
    font-weight: 900;
    text-shadow: 0.3px 0.5px 1px black;
    color: rgb(0, 0, 0);
    border: 1px #250000 solid;
    transition: background-color 0.1s ease;
    box-shadow: inset -2px -1px 3px 1px rgb(32, 1, 1),
        inset 2px 1px 2px 1px rgb(136, 94, 94),
        2px 1px 2px #000000;
}

.lamp.on {
    background-color: #ff0000; /* Red color for "on" state */
    box-shadow: inset -1.5px -0.75px 3px 0.5px rgb(53, 2, 2),
        inset 2px 1px 2px 1px rgb(214, 144, 144),
        2px 1px 2px #460606;
}
  
.button:hover {background-color: #870000}
  
.button:active {
    background-color: #870000;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.knob-surround {
    position: relative;
    background-color: rgb(213, 172, 117);
    box-shadow: inset 0px 0px 0px 3px #4a240d,
        0px 0px 0px 2px rgb(94, 53, 0),
        8px 4px 8px 2px rgb(57, 12, 12);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid .25rem darken(black, 100%);
    margin: 4rem auto; 
}

.knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 10;
}

#knob1 {
    transform: rotate(0deg);
}

#knob2 {
    transform: rotate(270deg);
}

.knob:before {
    content: "";
    position: absolute;
    bottom: 0.4em;
    left: 1.5em;
    width: 10%;
    height: 30%;
    background-color: black;
    border-radius: 0px;
    box-shadow: 0px 0px .4rem 0px darken(black, 10%);
    transform: translate(-10px, 0px) rotate(45deg);
}

#preview_display {
    margin-top: 25px;
    height: 100px;
    width: 500px;
    background-color: #f4d77a; /* Warm yellow for vintage effect */
    border: 5px solid #000000; /* Darker yellow-brown border */
    box-shadow: inset 10px 5px 10px 1px rgba(0, 0, 0, 0.5), /* Subtle shadows to give a recessed look */
                inset 0px 0px 50px 30px rgba(159, 70, 6, 0.727),
                inset -10px -5px 5px 1px rgb(96, 88, 88),
                inset 10px 5px 15px 15px rgb(255, 255, 255); /* Brownish glow for depth */
    border-radius: 15px;
    background: linear-gradient(145deg, #f6d58e, #e0be61); /* Subtle gradient for texture */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.line {
    position: absolute; /* Use absolute to position it relative to the parent */
    height: 100px;
    width: 2px;
    background-color: #000000;
    left: 200px; /* Initial position */
    box-shadow: 1.5px 0.75px 3px 0px black;
    transition: left 0.1s ease; /* Smooth movement */
}


.small_line {
    position: absolute; /* Use absolute to position it relative to the parent */
    height: 65px;
    top: 25px;
    width: 2px;
    background-color: #000000;
    left: 0px; /* Initial position */
    box-shadow: 1.5px 0.75px 3px 0px rgb(0, 0, 0);
    transition: left 0.1s ease; /* Smooth movement */
}

.movablePoint {
    visibility: hidden;
}

.movablePoint {
    position: relative; /* Use absolute to position it relative to the parent */
    height: 18px;
    width: 18px;
    top: -18px;
    border-radius: 50%;
    border:  #000000 solid;
    background-color: transparent;
    left: 0px; /* Initial position */
    transform: translate(-50%);
    box-shadow: 1.5px 0.75px 3px 0px black;
    transition: left 0.1s ease; /* Smooth movement */
}

.pointText {
    position: absolute; /* Posiziona il testo rispetto al cerchio */ /* Sposta il testo di 10px più in alto rispetto al cerchio */
    left: 7.5px;
    bottom: 0px;
    text-shadow: 0.5px 0.25px 1px #000000;
    transform: translateX(-50%); /* Centra il testo orizzontalmente */
    color: black; /* Colore del testo per vederlo sopra il cerchio nero */
    font-size: 14px; /* Puoi modificare la dimensione del testo */
}


.signature {
    position: relative;
    left: 270px;
    bottom: 80px;
    font-family: 'MioFont', sans-serif;
    font-size: 36px;
    color: #b8860b; /* Colore di fallback dorato */
    background: linear-gradient(45deg, #f7d794, #f9a825, #c7881d, #b6861b, #ffc107);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombra per dare effetto di profondità */
}

.box__dragndrop {
    display: none;
}

.has-advanced-upload .box__dragndrop {
    display: inline;
}

.is-dragover {
    background-color: grey;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading {
    display: block;
}

.box.is-success .box__success {
    display: block;
}

.box.is-error .box__error {
    display: block;
}


